@use "../../../../styles/modules/variables";

  
.posts-page {
    position: relative;
    height: calc(100vh - 132px);
    width: 100vw;
    background: 
        linear-gradient(to right, rgba(0, 0, 0, 0) 40vw, rgb(185, 111, 139) 61.8vw),
        url('/gallery-images/5.jpg'),
        variables.$primary-color-b;
    background-repeat: no-repeat;
    background-size: 61.8vw;
    margin: 0;
    overflow: hidden; 
    p {
        margin: 0;
    }
    .header { 
        height: calc(100vh - 132px); 
        max-height: calc(100vh - 132px);
        overflow: hidden;
        .posts-header-text {
            font-family: fancyFont;
            font-weight: 600;
            user-select: none;
        }
        .covered-text {
            font-size: 124px;
            letter-spacing: 2px;
            color: rgb(0, 0, 0);
            opacity: 0.5;
            z-index: 1;
            position: absolute;
            top: -10px;
            left: 0;
            height: 124px;
        }
        .outlined-text {
            line-height: 150px;
            font-size: 124px;
            letter-spacing: 2px;
            color: variables.$primary-color-c;
            filter: drop-shadow(0 0 2px variables.$primary-color-a);
            
            z-index: 0;
        }
    }
    
    


    
    .posts-block {
        background-color: variables.$primary-color-d;
        height: 80%;
        width: 60%;
        max-width: 800px;
        border-top-left-radius: 24px;
        position: absolute;
        top: 20%;
        right: 0;
    }

    .posts-wrapper {
        position: absolute;
        top: 20%;
        right: 0;
        width: 60%;
        max-width: 800px;
        height: 80%;
        border-top-left-radius: 24px;
        overflow: hidden;
        box-shadow: inset 0 0 8px 0 black;
    }
    .posts-carousel {
        height: 100%;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        padding: 24px;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 40px;
            z-index: 2;
            background: linear-gradient(
                to bottom,
                variables.$primary-color-d,
                transparent
            );
            pointer-events: none;
        }
    }
    .blue {
        height: 100%;
        background-color: white;
        border-radius: 20px;
        padding: 12px;
        box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.5);
        display: flex;
        flex-direction: column;
        margin-bottom: 24px;
        .post-header {
            font-family: fancyFont;
            letter-spacing: 1px;
            font-size: x-large;
            margin: 8px;
        }
        button {
            width: 100%;
            margin: auto;
            margin-top: 16px;
            min-width: 118px;
            height: 30px;
            font-size: 20px;
            background-color: variables.$primary-color-c;
            color: white;
            font-weight: 500;
            border-radius: 10px;
            border: none;
            cursor: pointer;
        }
    }
}

@media screen and (max-width: 425px) {
    .posts-block{
        width: 100vw;
        min-width: 100vw;
    }
    .posts-wrapper{
        width: 100vw;
        min-width: 100vw;
    }
}
@media screen and (max-width: 835px) {
    .posts-page {
        background: 
            linear-gradient(to right, rgba(0, 0, 0, 0) 40vh, rgb(185, 111, 139) 61.8vh),
            url('/gallery-images/5.jpg'),
            variables.$primary-color-b;
        background-repeat: no-repeat;
        background-size: 61.8vh 100%;
    }
}