@use '../../../../styles/modules/variables';


.purpose-wrapper {
    position: relative;
    margin-top: 700px;
    min-height: 550px;
    width: 100vw;
    color: variables.$primary-color-d;
    background-color: variables.$primary-color-a;

    .purpose-pic-and-text{
        display: flex;

        img {
            margin-left: 48px;
            position: absolute;
            top: -50px;
            z-index: 0;

        }
        .purpose-text {
            font-size: 24px;
            width: 100vw;
            text-align: left;
            line-height: 36px;
        }
        .purpose-separator {
            width: 1px;
            height: 100px;
            background-color: white;
            position: absolute;
        }
    }
}