@use '../../../../styles/modules/variables';


@keyframes squareAppear {
    from { opacity: 0; transform: translateX(-120px);}
    to {opacity: 1; transform: translateX(0);}
}

.squareblock-wrapper {
    position: absolute;
    height: 600px;
    width: 100vw;
    background-color: white;
    z-index: 2;

    .square{
        background-color: variables.$primary-color-b;
        font-size: 56px;
        p {
            font-family: fancyFont;
            color: variables.$primary-color-a;
        }
        
    }
    .square-animation {
        animation-name: squareAppear;
        animation-duration: 1s;
        
    }
    .outside-square-text {
        p {
            font-size: 24px;
            line-height: 36px;
            letter-spacing: 1px;
        }
    }
}
