
.fadein {
    position: absolute;
    margin: auto;
    img {
        width: 100vw;
        height: 500px;
        object-fit: cover;
        position: absolute;
        -webkit-animation-name: fade;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-duration: 16s;
        animation-name: fade;
        animation-iteration-count: infinite;
        animation-duration: 16s;
    }
}

@-webkit-keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}
@keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}

.img1 {
}
.img2 {
    -webkit-animation-delay: -12s;
    animation-delay: -12s;
}
.img3 {
    -webkit-animation-delay: -8s;
    animation-delay: -8s;
}
.img4 {
    -webkit-animation-delay: -4s;
    animation-delay: -4s;
}
