@use '../modules/variables';

.logo-wrapper {
    min-height: 64px;
    background-color: black;
    color: white;
    display: flex;
    width: 100%;
  
    background-image: linear-gradient(to right, rgb(255, 255, 255) 2%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 50px 1px;
    background-repeat: repeat-x;
    .logo-text{
        text-align: center;
        font-size: 48px;
        letter-spacing: 2px;
        font-family: logoFont;
        line-height: 64px;
        margin: 8px 0 12px 0;
        width: 100%;
      }

    .nav-socials {
        display: flex;
        position: absolute;
        right: 24px;
        margin-top: 8px;
        a {
            color: white;
        }
        .nav-social {
            height: 48px;
            width: 48px;
            margin: 8px;
        }
        .mini {
            height: 40px;
            width: 40px;
            margin: 8px;
            margin-top: 12px;
        }
    }
}
  
  @media screen and (max-width: 820px) {
    .nav-socials {
        display: none !important;
    }
  }