@use '../modules/variables';


.purpose-wrapper {
    position: relative;
    margin-top: 500px;
    height: 500px;
    width: 100vw;
    color: variables.$primary-color-d;
    background-color: variables.$primary-color-a;

    h2 {
        font-size: 42px;
        font-family: fancyFont;
        letter-spacing: 3px;
        font-weight: 500;
        padding-top: 32px;

        
    }
    .purpose-pic-and-text{
        display: flex;

        img {
            margin-left: 48px;
            position: absolute;
            top: -50px;
            z-index: 0;

        }
        .purpose-text {
            font-size: 24px;
            width: 100vw;
            text-align: left;
            line-height: 36px;
        }
        .purpose-separator {
            width: 1px;
            height: 100px;
            background-color: white;
            position: absolute;
        }
    }
}