
@font-face {
  font-family: logoFont;
  src: url(Kablammo-Regular-VariableFont_MORF.ttf);
}
@font-face {
  font-family: fancyFont;
  src: url(PlayfairDisplayMedium.ttf);
}
@font-face {
  font-family: regularFont;
  src: url(PoiretOne-Regular.ttf);
}
html {
    width: 100vw;
}
* {
  font-family: regularFont;
}
body {
  overflow-x: hidden;
}
h2 {
  font-size: 42px;
  font-family: fancyFont;
  letter-spacing: 3px;
  font-weight: 500;
  padding-top: 48px;
  margin-right: 13px;
  
}
